/*---------------------General----------------------------------*/

* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/furley_bg.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: auto;
    overflow: auto;
    width: 100%;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
}

/*---------------------Header----------------------------------*/

.header-container {
    background-color: #ffffff;
    position: absolute;
    margin-bottom: 20px;
    min-width: 100%;
}

.header {
    margin: auto;
    position: relative;
    max-width: 960px;
}

.header h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    margin: auto;
    padding: 20px;
}

.header a {
    color: #777777;
    margin: auto;
    padding-top: 25px;
    position: absolute;
    text-decoration: none;
    word-spacing: 15px;
}

.header a:link { 
    color: black; 
}

.header a:visited { 
    color: gray; 
}

.header a:hover { 
    color:  #4aaaa5;
}

.header a:active { 
    color: pink; 
}

#about-link {
    right: 190px;
}

#portfolio-link {
    right: 90px;
}

#contact-link { 
    right: 10px;
}

/*---------------------Main Content----------------------------------*/

.content-wrapper {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #cccccc;
    clear: both;
    min-height: 100%;
    overflow: visible;
    padding-bottom: 75px;
    max-width: 100%;
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 75px;
    overflow: auto;
    position: relative; top: 50px;
    padding: 20px;
    max-width: 960px;
}

.content h1 {
    color: #4aaaa5;
    border-bottom-color: cccccc;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

/*---------------------About Me Page----------------------------------*/

#about-me-picture {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    width: 200px;
}

.content p { 
    display: block;
    line-height: 30px;
    width: 100%;
}

.content li {
    margin: 10px;
}

/*---------------------Portfolio Page----------------------------------*/

.image-and-text {
    float: left;
    margin: 20px;
    margin-left: 0px;
    position: relative;
    width: 35%;
}

.image-and-text img {
    height: 200px;
    width: 100%;
}

.image-and-text h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute; bottom: 10px; left: 0px;
    text-align: center;
    width: 100%;
}

/*---------------------Contact Page----------------------------------*/

.content input[type=text] {
    height: 25px;
    width: 100%;
}

.content textarea{
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
}

.content input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    height: 30px;
    width: 60px;
}

/*---------------------Footer----------------------------------*/

.footer {
    background-color: #666666;
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width: 10px;
    color: #dddddd;
    font-size: 12px;
    height: 70px;
    padding-top: 40px;
    position: fixed; bottom: 0px; left: 0px; right: 0px;
    text-align: center;
    width: 100%;
}

/*---------------------Media Queries----------------------------------*/

/* After completing this exercise, I realized
I designed for Desktop first and not mobile first,
which is why this media query is blank */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

    .content {
        margin: auto 20px 100px 20px;
        max-width: 768px;
        top: 100px;
    }

    .header {
        margin: auto 20px auto 20px;
        max-width: 768px;
    }

    .content input, textarea {
        padding: 1px;
        border-width: 1px;
        border-style: inherit;
        border-color: #666666;
    }

    .image-and-text {
        float: left;
        height: 200px;
        width: 47%;
    }
} 

@media screen and (max-width: 640px) {

    .header-container {
        text-align: center;
    }
    .header h1 {
        width: 100%;
    }

    .header a {
        padding: 10px;
        position: unset;
        width: 100%;
    }
    .nav-links {
        padding: 30px;
        position: relative; top: 15px;
    }

    .content {
        margin: 50px 20px 100px 20px;
        max-width: 640px;
        top: 100px;
    }

    .header {
        max-width: 640px;
    }

    #about-me-picture {
        display: block;
        float: none;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .content input, textarea {
        padding: 1px;
        border-width: 1px;
        border-style: inherit;
        border-color: #666666;
    }

    .image-and-text {
        float: center;
        height: 200px;
        width: 100%;
    }
}